# Database Configuration (for Docker Compose)
DB_ROOT_PASSWORD=your_root_password_here
DB_USER=user_facultades
DB_PASSWORD=your_password_here
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=db_facultades

# Database URL (for application)
DATABASE_URL=mysql://user_facultades:your_password_here@localhost:3306/db_facultades

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Application Configuration
NODE_ENV=development

ADMIN_PASSWORD=admin123